<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarSafer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C796C7191FA953B7009AC906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C796C7301FA953B8009AC906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C796C73B1FA953B8009AC906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
